<div *ngIf="initializing" class="container">
  {{initializingMessage}}
</div>
<div *ngIf="!initializing" class="container">
  <form class="mr-3 mb-2">
    <div class="form-group">
      <label class="mr-2" for="category">Category:</label>
      <input type="text" class="form-control" id="category" name="category" [(ngModel)]="todo.category">
    </div>
    <div class="form-group mr-3">
      <label class="mr-2" for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="todo.title">
    </div>
    <div class="form-group mr-3">
        <label class="mr-2" for="desc">Description:</label>
        <textarea class="form-control" name="desc" id="desc" name="desc" cols="20" rows="5" [(ngModel)]="todo.description"></textarea>
      </div>
      <button type="button" (click)="updateTodo()" class="btn btn-primary mr-2">Save</button>
      <button type="button" [routerLink]="['/main']" class="btn btn-secondary">Back</button>
  </form>
</div>