<div *ngIf="initializing" class="container">
  {{initializingMessage}}
</div>
<div *ngIf="!initializing" class="container">
  <div class="row">
    <div class="col">
      <form class="mr-3 mb-2">
        <div class="form-group">
          <label class="mr-2" for="oldpassword">Old Password:</label>
          <input #oldPasswordInput type="text" class="form-control" id="oldpassword" name="oldpassword" [(ngModel)]="oldPassword">
        </div>
        <div class="form-group">
          <label class="mr-2" for="newpassword">New Password:</label>
          <input type="text" class="form-control" id="newpassword" name="newpassword" [(ngModel)]="newPassword">
        </div>
        <div class="form-group">
          <label class="mr-2" for="newpasswordr">New Password (Repeat):</label>
          <input type="text" class="form-control" id="newpasswordr" name="newpasswordr" [(ngModel)]="newPasswordR">
        </div>
        <button [disabled]="oldPassword === null || oldPassword.length === 0 || newPassword === null || newPasswordR === null || newPassword !== newPasswordR" type="button" (click)="onChangePasswordClick()" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="errorMessage !== null" style="padding: 10px !important;">
    <font color="red"><b>{{errorMessage}}</b></font>
  </div>
</div>