<div *ngIf="initializing" class="container">
  Initializing list of TODOs...
</div>
<div *ngIf="!initializing" class="container">
  <input type="text" class="form-control input-lg" placeholder="Filter entries" (keyup)="filterItems($event)">
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of filteredTodos">
        <td>{{todo.category}}</td>
        <td>{{todo.title}}</td>
        <td placement="left" [ngbTooltip]="todo.description">{{todo.description ? shorten(todo.description) : "(No
          Description)" }}</td>
      </tr>
    </tbody>
  </table>
</div>